
#VS2013 System
*.zip
*.exe
*.log
*.obj
*.tlog
*.cso
*.opensdf
*.pdb
*.aps
*.mak
*.user
*.suo
*.ipch
*.sdf
*.user
*.lastbuildstate
*.idb
*.pch
*.db
*.ilk

#Directory
#Debug/
#Release/
bin/

#Resource
*.xml
*.mqo
*.dae
*.hdr
*.fbx
*.png
*.gif
*.jpg
*.jpeg
*.tga

*.cg

*.dll
*.cache
*.tsm
*.dds
*.stl
*.bmp
*.mtl
